<div class="centre-div">
        
        <h1>WELCOME TO QUIZ APP</h1>
                        <ul>
                        <li><a class="waves-effect waves-light btn-small" style="color: black;" href="login">Login</a></li>
                        <br>
                        <li><a class="waves-effect waves-light btn-small" style="color: black;" href="signup">SignUp</a></li>
                       </ul>
</div>

