
<div class="login-form">
        <div class="heading">
                <h4>SignUp</h4>
            </div>
        <div class="row">
           <form #signupform="ngForm" class="col s12" (ngSubmit)="onSubmit(signupform)">
               <div class="row">
                   
                   <div class="input-field col s6">
                        <input [(ngModel)] = "user.firstname" type="text" name="firstname"/>
                        <label for="name">Firstname</label>
                   </div>
                   
                   <div class="input-field col s6">
                        <input [(ngModel)] = "user.lastname" type="text" name="lastname"/>
                        <label for="lastname">Lastname</label>
                       
                   </div>
               </div>
               <div class="row">
                   <div class="input-field col s12">
                     <input [(ngModel)] = "user.username" type="text" name="username"/>
                     <label for="username">Email</label>
                </div>
               </div>
               <div class="row">
                   <div class="input-field col s12">
                        <input [(ngModel)] = "user.password" type="password" name="password"/>
                            <label for="password">Password</label>
                     </div>
               </div>
               <input type="submit" class="waves-effect waves-light btn-small"/>
           </form>
       </div>   
       </div>

