<nav>
    <div class="nav-wrapper">
      <img width="150px" src="../assets/enzigma.png" alt="Enzigma">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a style="color: black;">About</a></li>
        
        </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
