.login-form{
    position: absolute;
    margin-top: 10px;
    border : solid gray 1px;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading{
    text-align: center;
    }