
<div class="login-form">
    <div class="heading">
        <h4>Login</h4>
    </div>
 <div class="row">
    <form #loginform="ngForm" class="col s12" (ngSubmit)="onSubmit(loginform)">
            <div class="row">
                    <div class="input-field col s12">
                        <input [(ngModel)] = 'user.username' type="text" name="username">
                        <label for="email">Email</label>
                    </div>
                </div>
        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)] = 'user.password' name="password"  type="password">
                <label for="password">Password</label>
            </div>
        </div>
        <input type="submit" class="waves-effect waves-light btn-small"/>
    </form>
</div>   
</div>
